[submodule "livekit"]
	path = livekit
	url = https://github.com/livekit/livekit-server.git
[submodule "livestream-example"]
	path = livestream-example
	url = https://github.com/livekit-examples/livestream.git
